<style>
#banner_box { width: <%= @header.width %>px; height: <%= @header.height %>px;  left:50%; margin-left: -<%= @header.width / 2 %>px; top: 0; position:absolute; border: 0; text-align:center; }
</style>
<div id="banner_box">lade..<%= image_tag '/images/loading.gif' %></div>
		
		

