

<% @bilder ||= Bild.all %>
	
<% if @bilder.count > 0 %>
	
	<%= paginate @bilder, :params => {:controller => 'gallerien', :action => 'index'}  %>
	
	<div class="clearfix"></div>
	<div class="vert_space"></div>
	<div class="clearfix"></div>
	
	<% @bilder.each_with_index do |bild,index| %>
			
			<div class="fl_box_170">
				<%= render 'gallerien/g_pic', :bild => bild, :gpic_width => 160, :gpic_height => 122 %>
			</div>
		
		<% if (index + 1).modulo(4) == 0 %>
			<div class="clearfix"></div>
			<div class="vert_space"></div>
			<div class="clearfix"></div>
		<% end %>

	<% end %>
	
	<% unless (@bilder.count).modulo(4) == 0 %>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	<% end %>
		
	<%= paginate @bilder, :theme => 'bottom', :params => {:controller => 'gallerien', :action => 'index'}  %>
	
<% else %>
	
	<br/>
	Bilder folgen ...
	<br/>
	
<% end %>
