<div class="fine_lightbox_pic_holder" style="display:block; padding: 0; width:<%= @bild.file.thumb('900x600').width %>px; height: <%= @bild.file.thumb('900x600').height %>px">
	
<%= image_tag @bild.file.thumb('900x600').url %>

</div>