<div style="display:block; padding: 5px; width:<%= @bild.file.thumb('900x600').width %>px; height: <%= @bild.file.thumb('900x600').height %>px">
	
<%= image_tag @bild.file.thumb('900x600').jpg.url %>

</div>