<% content_for :sidebar do %>
<div class="side_box">
	<div class="sidebar_head aktiv_box">
		<a href="#">Sidebars</a>
	</div>
	<ul class='sidebar'>
		<li><%= link_to t('strange_header.links.index'), admin_headers_path, :class => "#{'aktiv' if @u_aktiv == 'index'}" %></li>
	</ul>
</div>


<% if @sidebar && @u_aktiv != "new" %>
<div class="side_box">
	<div class="sidebar_head aktiv_box">
		<a href="#">Sidebarinhalt</a>
	</div>
	<ul class='sidebar'>
		
		
		
	</ul>
</div>
<% end %>

<%= help_link_box %>

<% end %>
