<% content_for :sub_menu do %>

<div id="in_sub" class="container_48">
			
	<div class="fl_box_950">
		<nav id="sub_navigation">
		    <%= hook :admin_seiten_sub_tabs do %>
				
				<%= link_to 'Inhaltsseiten', admin_seiten_path, :class => "#{'aktiv' if @sub_aktivio == 'seiten' }"%>
				
		    <% end %>
		 </nav>
	</div>
</div>

<% end %>