<li class='clearfix record' id="<%= dom_id(seite) -%>">
  <div class='sortable_list_entry'>
    <span class='title'>
      <%= seite.name %>
    </span>
	<div class='clearfix'></div>
  </div>
	<div class='clearfix'></div>
  <ol class='nested'>
    <%= render :partial => 'seite', :collection => seite.unter_seiten %>
  </ol>
</li>