html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre {white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;  padding: 15px;}
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: baseline; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #ff6a04; color:#fff; text-shadow: none; }
::selection { background:#ff6a04; color:#fff; text-shadow: none; }
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #ff6a04; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
  color: #444;
  
}
/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; text-decoration:none;}
a:hover { color: #036; }


/****************************************************************************************************************************************************
 * Primary styles
 *
 * Author: AUSTIN STRANGE
 */
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
/* v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v */

h1 { font-size:18px; line-height: 24px; color: #66cc00;}
h2 { font-size:16px; line-height: 22px;}
.right { float: right; }
.left { float:left; }

.cool { color: #66cc00; }
.panic { color: #E00000; }

.kasten { width: 990px; margin: 0 auto; position: relative; text-align:left; }

em { font-style:italic; }

#user_area { height: 45px; width: 100%; background: #fff url('/images/strangeCMS.png') center center no-repeat;; position: relative; }
#strange_admin_button { padding: 3px 10px 3px; border: solid 1px #de9f42; margin: 0; background: #de9f42 url('/images/strange_admin_button_bg.png') repeat-x; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;  color: #444; display:block; margin-top:11px; float:left;} 
#strange_admin_button:hover { background: #de9f42 url('/images/strange_admin_button_bg_o.png') repeat-x; color: #000; }
#login_area { margin-top: 15px; vertical-align:middle;}
#strange_user_button { padding: 2px 7px 3px; border: solid 1px #f1f1f1; background: #f1f1f1; margin: 1px 0 0; color: #607f9e; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: -1px -1px 2px rgba(50,50,50,.5);}
#strange_user_button:hover { border: solid 1px #b1b1b1; background: #b1b1b1; -webkit-box-shadow: -1px -1px 2px rgba(50,50,50,.7); color: #003366;}

header { height: 44px; background: #fff url('/images/admin/head_nav_bg.jpg') left top repeat-x; border-bottom: solid 1px #c6c6c6;}
#main_navigation { height: 34px; position:absolute; top: 10px; left: 0px; display:block; }
#main_navigation a { line-height: 18px; padding: 6px 10px 5px; border: solid 1px transparent; border-bottom: solid 1px #c6c6c6; margin: 5px 3px 0 0; position:relative; display:block; float:left; background: transparent url('/images/strange_admin_navigation_bg.jpg') left top repeat;
-webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; border: 0;
	-moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #fff; font-size: 15px;}
#main_navigation a:hover, #main_navigation a.aktiv { padding: 7px 10px 5px; margin-top: 3px; background: #fff url('/images/admin/head_nav_aktiv.jpg') left top repeat-x; color:#336699; border: solid 1px #bdbcbd; border-bottom: solid 1px transparent;}
#main_navigation a.aktiv:hover { color: #444; }


#main_right_navigation { height: 34px; position:absolute; top: 10px; right: 0px; display:block; }
#main_right_navigation a { line-height: 18px; padding: 6px 10px 5px; border: solid 1px transparent; border-bottom: solid 1px #c6c6c6; margin: 5px 3px 0 0; position:relative; display:block; float:left; background: transparent url('/images/strange_admin_navigation_bg.jpg') left top repeat;
-webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; border: 0;
	-moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #fff; font-size: 15px;}
#main_right_navigation a:hover, #main_right_navigation a.aktiv { padding: 7px 10px 5px; margin-top: 3px; background: #fff url('/images/admin/head_nav_aktiv.jpg') left top repeat-x; color:#336699; border: solid 1px #bdbcbd; border-bottom: solid 1px transparent;}
#main_right_navigation a.aktiv:hover { color: #444; }

#sub-menu #in_sub { height: 33px; background: #fff url('/images/admin/head_sub_nav_bg.jpg') left top repeat-x; border-bottom: solid 1px #c6c6c6;}

#sub-menu #in_sub .kasten {height: 33px; }

#sub-menu #in_sub .kasten #sub_navigation { height: 27px; position: absolute; top: 2px; left: 0; }
#sub-menu #in_sub .kasten #sub_navigation a { line-height: 18px; padding: 4px 10px 3px; border: solid 1px transparent; border-bottom:0; margin: 5px 3px 0 0; position:relative; display:block; float:left; background: transparent;
-webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #666; font-size: 15px;}
#sub-menu #in_sub .kasten #sub_navigation a:hover, #sub-menu #in_sub .kasten #sub_navigation a.aktiv { background: #fff; border: 1px solid #c6c6c6; border-bottom: solid 1px #fff; color: #336699;}
#sub-menu #in_sub .kasten #sub_navigation a.aktiv:hover{ color: #444;}

#main { min-height: 420px; background: #fff url('/images/fineline_BG.jpg') center top no-repeat; padding: 0 0 70px;}
#main .kasten { width: 990px; padding:20px 0; min-height: 550px;}
#content { float:left; width: 762px; }
aside { float:right; width: 200px;}

footer { height: 105px; width: 100%; background: #d9d9d9 url('/images/strange_footer_bg.jpg') repeat-x; position: relative; }
#footer_navigation { float:right; } 

.admin_box { padding: 10px; border: solid 1px #cccccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #fff;}
.admin_in_box { padding: 5px; border: solid 1px #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #f6f2f1; }

.admin_box h1 { color: #336699; font-size: 16px; font-weight: normal; line-height: 24px; background: transparent url('/images/admin/ue_pfeil_d.png') 5px 11px no-repeat; padding: 5px 10px 5px 25px;}


table { /* width: 100%; */ }
table tr.neu { font-weight: bold; }
table th { vertical-align: middle; }
table td { padding: 5px 20px; }
table td.actions { width: 90px; padding: 5px;}

#sidebar #sidebar_navi { list-style: none; margin:0; padding: 0; }
#sidebar #sidebar_navi li { margin: 0 0 5px; }
#sidebar #sidebar_navi li a { padding: 8px 10px 7px 30px; display: block; text-decoration:none; font-weight: bold; border: inset 1px #ececec; 
	background: #ececec; color: #666; line-height: 18px; }
#sidebar #sidebar_navi li a.aktiv, #sidebar #sidebar_navi li a:hover { background: rgba(0,153,255,.9) url('/images/admin/sidebar_aktiv_bg.png') left top repeat-x; color: #fff; border: inset 1px #1a5189; }



table.mb_table {width: 95%; border-spacing: 0; border: 0; position: relative; }
table.mb_table th { padding: 10px 5px; background: rgba(230,230,230,.7); position: relative; }
table.mb_table td { padding: 10px 5px; position: relative; }

table.mb_table th.title, table.mb_table td.title { width: 58%; }
table.mb_table th.sorter, table.mb_table td.sorter { width: 7%; padding: 2px 5px;}
table.mb_table th.aktiv, table.mb_table td.aktiv { width: 5%;}
table.mb_table th.actions, table.mb_table td.actions { width:30%;}
table.mb_table tr { position: relative;  }

table.mb_table tr td.actions { text-align:right;}
table.mb_table tr td.sorter span { visibility:hidden;}
table.mb_table tr td.actions a { visibility:hidden; }

table.mb_table tr:hover { background: rgba(5,230,30,.2); }
table.mb_table tr:hover td.actions a { visibility:visible; }
table.mb_table tr:hover td.sorter span { visibility:visible;}

table.settings.kontakt tr { border-top: solid 1px #999;}
table.settings.kontakt tr td { padding: 10px 0 10px 30px;}
table.settings.kontakt tr th { font-size: 15px; color: #666; width: 175px; font-weight: normal;}
table.settings.kontakt tr.first { border: 0;}

table.mb_table td.sorter span.handler { cursor:pointer; width: 22px; background: transparent url('/images/schieber_k.png'); height: 22px; position:relative; display:block; left:0; top:5px; vertical-align: center;}

table.settings th.u_kat { color: #66cc00; padding: 10px 0 0;}


div.mb_table {width: 100%; border-spacing: 0; border: 0; position: relative; display: table; line-height: 29px; }

div.mb_table .row { position: relative; width: 100%; display: table-row; }

div.mb_table .title { width: 60%; padding: 10px 5px; display: table-cell; }
div.mb_table .sorter { width: 5%; padding: 2px 5px; display: table-cell; }
div.mb_table .aktiv { width: 5%; padding: 10px 5px; display: table-cell; }
div.mb_table .actions { width:30%; padding: 10px 5px; display: table-cell; }


div.mb_table .row .actions { text-align:right;}
div.mb_table .row .sorter span { visibility:hidden;}
div.mb_table .row .actions a { visibility:hidden; }

div.mb_table .row:hover { background: rgba(5,230,30,.2); }
div.mb_table .row:hover .actions a { visibility:visible; }
div.mb_table .row:hover .sorter span { visibility:visible;}

div.mb_table .sorter span.handler { cursor:pointer; width: 22px; background: transparent url('/images/schieber_k.png'); height: 22px; position:relative; display:block; left:0; top:5px; vertical-align: center;}

div.mb_table .row .unter_seiten {width: 90%; border-spacing: 0; border: 0; position: relative; display: table; }
div.mb_table .row .unter_seiten .u_row { position: relative; width: 100%; display: table-row; }
div.mb_table .row .unter_seiten .u_row > * {display: table-cell; vertical-align: top;}

#xabc .section-group       {display: table; width: 100%;}
#xabc .section-group-inner {display: table-row;}
#xabc .section-group-inner > * {display: table-cell; vertical-align: top;}



input[type="text"], input[type="password"], textarea { font-size: 13px; font-family: Verdana, Arial; color: #666; line-height: 18px; border: solid 1px #ccc; padding: 3px; /* width: 400px !important; */ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	-webkit-box-shadow: -1px -1px 1px rgba(55,55,55,.6); -moz-box-shadow: -1px -1px 1px rgba(197,197,197,.6); box-shadow: -1px -1px 1px rgba(197,197,197,.6); background: #f4f2f2;}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { background: #fff;}

.in_box label { line-height: 24px;}

.top_trenner {
	height: 3px; background: transparent url('/images/top_trenner.png') left center no-repeat;
	margin-top: 0px;
}


input[type="submit"], a.big_submit_button { background: transparent url('/images/btns/submit_bg.png') left center repeat; padding: 7px 20px 8px; border: solid 1px #3e5d0b;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 15px; margin: 5px 5px 5px 0;
-webkit-text-shadow: 0px 0px 2px #3e5d0b; -moz-text-shadow: 0px 0px 2px #3e5d0b; text-shadow: 0px 0px 2px #3e5d0b; float:left;}
input[type="submit"]:hover, a.big_submit_button:hover {-webkit-box-shadow: 2px 2px 3px rgba(50,50,50,.9); -webkit-text-shadow: 1px 1px 2px #000; text-shadow: 1px 1px 2px #000;}

textarea.live-fck { width: 570px !important; }
iframe tr#xEditingArea { border: solid 1px #444 !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#edit.edit { border: solid 1px #444 !important; }
#fck_editor_text_area { border: solid 1px #444 !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }


div.field.checker_box { padding: 5px 10px; font-size: 15px;}
div.field.checker_box label { padding-left: 10px;}

a.big_button { background: transparent url('/images/btns/cancel_bg.png') left center repeat; padding: 7px 20px 7px; border: solid 1px #777;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #444; font-weight: bold; font-size: 15px; margin: 5px 5px 5px 5px;
 float:left; }
a.big_button:hover { -webkit-box-shadow: 2px 2px 3px rgba(50,50,50,.9); background: transparent url('/images/btns/cancel_bg_o.png') left center repeat; color: #fff;}

.big_button_spacer { padding: 7px 20px 8px; background: transparent; border: solid 1px transparent; font-size: 15px; margin: 5px 5px 5px 0; color:#444; float:left;}

.on_off_schalter { width: 114px; height:26px; display:block; position:relative; background: transparent url('/images/strange_on_off_regler_k.png') no-repeat; border: solid 1px #aaa; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden; cursor: pointer;}
.on_off_schalter.an { background-position: 0px 0px; }
.on_off_schalter.aus { background-position: -76px 0px; }

select {  line-height: 18px; padding: 3px 5px 3px; height:24px ; font-size: 13px; background: #fff; -webkit-box-shadow: -1px -1px 2px rgba(55,55,55,.6); -moz-box-shadow: -1px -1px 1px rgba(197,197,197,.6); box-shadow: -1px -1px 1px rgba(197,197,197,.6); border: solid 1px #999;}
select option { line-height: 18px; margin: 0px;}

a.pic_link, .pic_link a { font-size: 15px; }
a.pic_link img, .pic_link a img { padding: 0 3px 5px 0; vertical-align: middle;}

.entwurf_box { font-size: 15px; }

div.no_show { background: #efefef url('/images/back.png') left top repeat; padding: 5px;}

div.seiten_einstl { width: 40%; padding: 0 5%;}
div.seiten_einstl .field p { line-height: 24px; }
div.einstll { width:90%; padding: 0 5%;}


a.module_icon { width: 180px; display: block; border: solid 1px #aaa; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; 
	-webkit-box-shadow: -1px -1px 2px rgba(50,50,50,.5); padding: 10px; margin: 10px 20px 10px 0; float: left;}
a.module_icon .module_pic { width: 80px; height: 80px; display: block; margin: 0 auto 15px;}
a.module_icon p { line-height: 24px; font-weight: normal; font-size: 15px; text-align: center; color: #666;}
a.module_icon:hover { background: #efefef url('/images/back.png') left top repeat; }
a.module_icon:hover p { color: #444; }


div.flash { 
	position:relative;
	border: solid 1px #aaa; 
	padding: 5px 5%;
	width:90%;
	font-weight:normal;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	color: #444; 
	background:#fff; 
}
#notice, #now { background-color: #e6ffe1; border-color: #66a366; color: #666; }
#alert { background-color: #f6e0e0; border-color: #d74242; color: #9c0000;}

div.flash #in_flash { font-size: 18px; line-height: 18px; padding: 22px 30px 20px 65px;}
#notice #in_flash, #now #in_flash { background: transparent url('/images/icn_notice.png') 0px 9px no-repeat; }
#alert #in_flash { background: transparent url('/images/icn_alert.png') 0px 9px no-repeat; font-weight: bold;}


div.abschnitt-inhalt { position: relative; background: #fff; }

span.handle {cursor:pointer; width: 22px; height: 58px; background: transparent url('/images/strange_schieber.png'); position: absolute; left: -11px; top: 15px; }
.box.edit_in span.handle { visibility: hidden; }
.box.edit_in:hover span.handle { visibility: visible; }

div.remove_nested_form a {width: 16px; height: 16px; position:absolute; top:0; background: transparent url('/images/btns/loeschen_16px.png') 0px 0px no-repeat; right: 13px; display:block;}

div.edit_nested_form a  {  width: 16px; height: 16px; position:absolute; top:0; background: transparent url('/images/btns/bearbeiten_16px.png') 0px 0px no-repeat; right: 32px; display:block;}

div.edit_admin a {  width: 16px; height: 16px; position:absolute; top:0; background: transparent url('/images/btns/admin_locka.png') -16px -16px no-repeat; right: 51px; display:block;}
div.edit_admin a:hover { background-position: 0px 0px;}
div.edit_admin a.aktiv { background-position: 0px -16px;}
div.edit_admin a.aktiv:hover { background-position: -16px 0px;}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(/images/tips/tip_k.png);
	font-size:18px; font-weight: bold;
	line-height: 20px;
	text-align: left;
	height:31px;
	width: 170px;
	padding:25px 15px;
	color:#725311;	
	text-shadow: 0px 0px 3px #fff;
}
.tooltip.del_link { color:#000; }
.tooltip.del_link span { width: 32px; height:32px; margin: -5px 12px 0 10px; background: url('/images/btns/delete_b.png'); float: left;}

.tooltip.edit_link span { width: 32px; height:32px; margin: -5px 10px 0 8px; background: url('/images/btns/edit_b.png'); float: left;}


.box { position: relative; padding: 0 0 0 11px;}
.box.edit_in, .box.edit { padding:0;}
.box.edit_in:hover { background: #e5e5e5;}
.box.edit_in:focus { background: #e5e5e5; border: solid 2px #265289;}
.box .in_box { padding: 11px 16px 10px; /* border-top: solid 1px #999; */ position:relative;}
.box .in_box.first { border: 0; padding-top: 10px;}
.box .trenn_box { padding: 3px 13px 3px; /* border-top: solid 1px #999; */ position:relative;}

.text-inhalt .nested_form iframe { margin: 0 -6px !important;}

.box.geloescht { background: #efefef url('/images/back.png') left top repeat; opacity: 0.5; }
.box.geloescht .in_box { opacity: 0.7; }

.box .in_box .abschnitt_admin_toolz { position:absolute; top:0; right: 7px; }
.box .in_box .abschnitt_admin_toolz div { float:right; margin-left: 3px; }
.box .in_box .abschnitt_admin_toolz div a { width: 16px; height: 16px; display:block; }
.box .in_box .abschnitt_admin_toolz div a:hover { opacity: 1; }
.box .in_box .deleted_abschnitt { position:absolute; top:0; right: 7px; display:none; }
.box.geloescht .in_box .deleted_abschnitt { display:block; }

.admin_box .admin_in_box .box { padding: 0;}
.admin_box .admin_in_box .box .in_box.white { background: #fff; border: solid 1px #999;}

#btn_edit {  width: 16px; height: 16px; position:absolute; top:0; background: transparent url('/images/btns/bearbeiten_16px.png') 0px 0px no-repeat; right: 36px; display:block; opacity: .5;}
#btn_edit:hover { opacity: 1; }
#btn_del {  width: 16px; height: 16px; position:absolute; top:0; background: transparent url('/images/btns/loeschen_16px.png') 0px 0px no-repeat; right: 15px; display:block; opacity: .5;}
#btn_del:hover { opacity: 1; }

#kontakt_form_inhalt_area { width: 700px !important;}

ul#language-bar { list-style-type: none; margin: 0px; padding: 0px; display: inline; }
ul#language-bar li { margin: 0px; padding: 0px; display: inline; }
ul#language-bar strong { font-weight: normal; }
ul#language-bar li#parent ul { display: none; margin: 0px; padding: 5px 10px 5px; }
ul#language-bar li#parent strong { color: #444; text-decoration: none; }
ul#language-bar li#parent ul { display: block; }
ul#language-bar li#parent a { margin: 4px 2px 0px 0px; }
ul#language-bar a { display: block; height: 13px; width: 20px; opacity: .50; border: solid 1px transparent; }
ul#language-bar a:hover { opacity: 1; border: solid 1px #607890; }
ul#language-bar a.aktiv { opacity: .9; }
ul#language-bar li { display: block; float: left; margin-right: 2px; }
ul#language-bar a#de { background: url(/images/flags/de.jpg) no-repeat; }
ul#language-bar a#en { background: url(/images/flags/en.jpg) no-repeat; }

.trenn_linie { height: 0px; border-top: solid 1px #777; border-bottom: solid 1px #ddd; margin: 0 -16px;}



div.account_card { width: 220px; height:105px; display:block; float:right; border: outset 2px #fff; padding: 10px; position:relative;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
	background: #6d97bd; url(/images/blue_bg_750.png) repeat 0% 0%;}
div.account_card img { border: inset 1px #fff; -webkit-border-radius: 2px; -moz-border-radius: 3px; border-radius: 3px;}

div.account_card .c_name { position:absolute; top: 55px; left: 85px; font-size: 13px; font-weight: bold; color: #ddd;}
div.account_card .c_id { position:absolute; top: 75px; left: 85px; font-size: 11px; font-weight: normal; color: #fff;}
div.account_card .c_mail { position:absolute; bottom: 10px; left: 10px; font-size: 13px; font-weight: normal; color: #ddd;}


.flash_player_box { display:block; padding:5px; border:1px solid #ccc; border-radius:5px; background: #f4f2f2 url('/images/back.png') left top repeat; }
.flash_player_box .flash_player { display:block; background: transparent url('/images/button_play.png') center center no-repeat; }

/* ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ */
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
/** * Non-semantic helper classes: please define your styles before this section. */
/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
/** * Print styles. * * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

