<div class="side_box dbx-box">
	<div class="sidebar_head dbx-handle">
		Aktuelle News
	</div>
	
	<ul class='sidebar dbx-content'>
			<% News.aktiv.limit(3).each do |news_bar| %>
				<% @nc = '' %>
				<% news.news_abschnitte.each do |na| %>
					<% @nc += na.inhalt.to_s %>
				<% end %>
				<li><%= link_to raw("<div class='news_headline'>#{truncate(news_bar.headline, :length => 27, :omission => "...")}</div><div class='news_info'>#{news_bar.datum.strftime('%d.%m.')} von #{news_bar.schreiber}</div><div class='news_vorschau_text'>#{ truncate_html(@nc, :length => 90, :omission => ' ...')}</div>"), "#{news_bar.news_site_slug}#{news_bar.slug}", :class => "news_preview_link #{ 'aktiv' if news_bar == news}"%></li>
			<% end %>
			
	</ul>
</div>