<% content_for :sidebar do %>
<div id="sidebar">
			<ul id="sidebar_navi">
				<li class="plus"><%= link_to 'Neuer Header', new_admin_header_path, :class => "#{'aktiv' if @u_aktiv == 'new'}" %></li>
			</ul>
			<br class="clear" />
</div>
<div class="side_box">
	<div class="sidebar_head aktiv_box">
		<a href="#">Hilfe</a>
	</div>
	<ul class='sidebar'>
		<li><%= link_to raw("#{ t('help_text_link') } <span class='link_help_show#{' hidden' if Strangecms::Config[:show_help] }'>#{t('help_text_link_show')}</span> <span class='link_help_show#{' hidden' unless Strangecms::Config[:show_help] }'>#{t('help_text_link_hide')}</span>"), '#', :class => 'show_system_help' %></li>
	</ul>
</div>
<% end %>