<div class="coda-slider-wrapper">
   	<div id="coda-nav-left-1" class="coda-nav-left"><a href="#" title="Slide left">&#171;</a></div>
       
       <div class="coda-slider preload" id="coda-slider">
       		<div class="panel">
           		<div class="panel-wrapper">

					<%= image_tag '/images/new/slider_pic1.png', :class => 'topping' %>
            	</div>
           </div>
           <div class="panel">
             	<div class="panel-wrapper">
                   <%= image_tag '/images/new/slider_pic1.png', :class => 'topping' %>
               </div>
           </div>
       </div><!-- .coda-slider -->

<div id="coda-nav-right-1" class="coda-nav-right"><a href="#" title="Slide right">&#187;</a></div>

</div><!-- .coda-slider-wrapper -->