<%# encoding: utf-8 %>
<div id="user_area">
	<div class="kasten">
		<nav id="user_nav">
			<%= hook :backend_button do %>
				<!--	###		Achtung - Ändern!!!		###		-->
				<%= link_to t('strange_Backend'), admin_root_url, :id => 'strange_admin_button' %>
			<% end %>
			<div class="right_user_nav">
				<%= hook :login_buttons do %>
					Login
				<% end %>
			</div>
		</nav>
	</div>
</div>