<div id="fine_header">
	
	<div class="container_48">
		
		<div class="fl_box_950">
			
				<%= link_to( image_tag("#{Strangecms::Config[:strange_logo]}"), root_url, :id => "fineLOGO" ) %>
		

		
				<%= render 'navigation/header' %>
		
		</div>

		<div class="clearfix"></div>
	
	</div>
</div>
