<% data ||= @data %>
<% available_data ||= @available_data %>

<% available_data.each do |kat| %>
	
<%= link_to raw("<div class='selected_tag_deleta'>#{ fineline_icon('neu') }</div><div class='selected_tag_name'>#{ kat.name }</div><div class='clearfix'></div>"), 
							"/admin/#{data.class.to_s.tableize}/#{data.id}/kategorien/#{kat.id}/select_kategorie",
							# => :id => dom_id(tag),
							:class => 'available_tag',
							:remote => true %>
		
		
<% end %>