<% unless user_signed_in? %>
<li class="fine_header_nav fine_login">
	<%= link_to( finelineIcon(:icon => 37, :size => 24, :blur => 50), new_user_session_path, :id => "finelineLogin", :class => 'colorB')  %>
</li>
<% end %>