<h3>Ihr Formular wurde erfolgreich versendet.</h3>
<p>Danke <%= @kontakt_formular.anrede if @kontakt_formular.anrede %> <%= @kontakt_formular.name if @kontakt_formular.name %></p>
<br/>
<p>Wir werden Ihnen schnellstmöglich antworten.</p>
<p>Ihre E-Mail: <%= @kontakt_formular.email %></p>
<br/>