
		<%= submit_tag t('save_settings') %>
		<div class="big_button_spacer"><%= t('or') %></div>
		<%= link_to t('cancel'), admin_setting_path(@name), :class => 'big_button' %>
		<div class="clearfix"></div>
