<% @news ||= News.aktiv.page(params[:page]).per(Strangecms::Newz::Config[:news_per_page]) %>

<div class="in_box">
	<%= paginator_wrapper( @news, :params => {:controller => 'news', :action => 'index'} ) %>
</div>

<% @news.each_with_index do |news,index| %>
	<%= render 'news', :news => news, :index => index, :count => @news.count %>
<% end %>

<% if @news.count > 4 %>

	<div class="in_box">
		<%= paginator_wrapper( @news, :params => {:controller => 'news', :action => 'index'} ) %>
	</div>
	
<% end %>

<%= render :partial => 'news/sidebar' %>