<div class="box">
	<div class="in_box first">
		<h1>Neue E-Mail</h1>
	</div>
</div>

<div class="box">
	<div class="in_box">
		<%= render 'form' %>
	</div>
</div>


<%= link_to 'Back', kontakt_formulare_path %>
