<div class="box">
	<div class="in_box first">
		<h1 class="icon"><%= finelineIcon(:icon => 45, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_kontaktform.headlines.new') %></h1>
	</div>
</div>

<div class="box">
	<div class="in_box">
		<%= render 'form' %>
	</div>
</div>


<%= link_to 'Back', kontakt_formulare_path %>
