<h5 class="icon"><%= finelineIcon(:icon => 33, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_comments.headlines.object_comments') %></h5>

<% target.kommentare.each do |kmt| %>

	<%= render 'kommentare/kommentar', :kommentar => kmt %>

<% end %>